<% if is_logged_in? %>
  <div> 
    <h1>42</h1> 
    <p>(Don't panic)</p>
  
  </div>

<%else %>
  <script type="text/javascript">
    window.location.href="/new"  // put your correct path in a string here
</script>

<% end %>
